.block {
    padding: 24px 24px;
    border-radius: 10px;
    box-shadow: 4px 6px 17px 4px rgba(62, 77, 89, 0.34);
    background-color: #4040406b;;
    width: 400px;
    margin: 250px auto;
    height: auto;
    position: relative;
    z-index: 999;
}

.info {
    margin-top: 15px;
}

.link {
    color: #ade8ff;
    display: inline;
    cursor: pointer;
}