*.user
*.DotSettings
EternalFortress/.vs/
EternalFortress/obj/
EternalFortress/bin/
EternalFortress/EternalFortress.API/obj/
EternalFortress/EternalFortress.API/bin/
EternalFortress/EternalFortress.Business/obj/
EternalFortress/EternalFortress.Business/bin/
EternalFortress/EternalFortress.Entities/obj/
EternalFortress/EternalFortress.Entities/bin/
EternalFortress/EternalFortress.Data/obj/
EternalFortress/EternalFortress.Data/bin/
EternalFortress/EternalFortress.Client/node_modules/