<div class="wrapper">
    <div class="logo">
        <img src="../../../../../assets/img/logo.png">

        <div class="nav">
            <div class="nav-item" (click)="about()">Про сайт</div>

            <div class="nav-item" style="float: right;">
                <div class="nav-item-inner">Мій профіль</div>
                <div class="nav-item-inner" (click)="logout()">Вийти</div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="bg-bubbles">
        <img *ngFor="let i of [].constructor(20);" src="../../../../../assets/img/file.png">
    </div>
</div>