.nav {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-left: 100px;
}

.nav-item {
    width: 150px;
    color: black;
    font-size: 26px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    width: 290px;
}

.nav-item-inner {
    margin-right: 30px;
}