.nav-item {
    color: black;
    font-size: 26px;
    margin-top: 20px;
    cursor: pointer;
    display: inline;
    margin-right: 40px;
}

.nav {
    width: 100%;
    padding-top: 20px;
    margin-left: 70px;
}

.right {
    float: right;
    margin-right: 55px;
}