<div class="main">
  <div class="sidebar">
    <div class="folders">
      <h2>Мої папки</h2>
      <div *ngIf="folders?.length else folders_empty">
        <div class="folder" *ngFor="let folder of folders" (click)="selectFolder(folder.id)" [ngClass]="{'selected': selectedFolder == folder.id}">
          <div>{{ folder.name }}</div>
          <div>{{ kbToMb(folder.totalFileSize) }} MB</div>
        </div>
      </div>
    </div>

    <button class="button" style="display: flex;" (click)="createFolder()">
      <mat-icon class="icon">cloud_upload</mat-icon>
      <div>Створити нову папку</div>
    </button>
  </div>

  <div class="block">
    <h1>Мої файли</h1>

    <div class="info description" *ngIf="!selectedFolder || !folders.length">
      Виберіть зліва папку, в якій хочете переглянути, завантажити, видалити або зберегти файл.
    </div>

    <div class="files" *ngIf="selectedFolder && folders.length">
      <div class="top" *ngIf="!selectedFiles?.length">
        У цій папці поки що немає файлів. Натисніть кнопку "Завантажити", щоб зберегти файл до папки "{{ getSelectedFolderName() }}".
      </div>

      <div class="top" *ngIf="selectedFiles?.length">
        <div style="width: 5%;"></div>
        <div style="width: 40%;">Назва</div>

        <div style="width: 20%;">Дата додавання</div>
        <div style="width: 15%;">Розмір</div>
      </div>

      <div class="content">
        <div class="file" *ngFor="let file of selectedFiles">
          <div style="width: 5%;"><img class="img-file" src="../../../../../assets/img/file.png"></div>
          <div style="width: 40%;"><p class="file-name">{{file.name.length < 20 ? file.name : file.name.substring(0, 20) + '...'}}</p></div>

          <app-file-download class="file-download" #fileDownload (downloaded)="fileDownloaded()" [fileId]="file.id" [folderId]="selectedFolder" [file]="file"></app-file-download>

          <div style="width: 20%;">{{ file.uploadDate | date:'yyyy-MM-dd HH:mm:ss' }}</div>
          <div style="width: 15%;">{{ kbToMb(file.size) }}MB</div>
          <button class="btn btn-download" (click)="onFileDownloadClick(file)">Скачати</button>
          <button class="btn btn-delete" (click)="deleteFile(file.id)">Видалити</button>
        </div>
      </div>
    </div>

    <button id="uploadBtn{{selectedFolder}}" class="btn btn-upload" *ngIf="selectedFolder && folders.length" (click)="onFileUploadClick()">
      Завантажити
    </button>

    <app-file-upload #fileUpload (uploaded)="fileUploaded()" [folderId]="selectedFolder"></app-file-upload>
  </div>
</div>

<ng-template #folders_empty>
  <div class="info">
    У вас ще немає створених папок. Створіть свою першу папку, щоб ви могли безпечно зберігати файли.
  </div>
</ng-template>