.main {
    padding: 24px 24px;
    border-radius: 10px;
    box-shadow: 4px 6px 17px 4px rgba(62, 77, 89, 0.34);
    background-color: #ffffff6b;;
    width: 90%;
    margin: 100px auto;
    height: 70vh;
    position: relative;
    z-index: 999;
    display: flex;
}

.sidebar {
    width: 304px;
    height: 100%;
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 6px 17px 4px rgba(62, 77, 89, 0.34);
}

.sidebar .button {
    background-color: white;
    padding: 20px 30px 20px 30px;
    color: rgb(64 128 255);
    border: 1px solid rgb(64 128 255);
    border-radius: 10px;
    position: relative;
    font-weight: bold;
}

.sidebar .button:hover {
    color: rgb(26, 87, 210);
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(26, 87, 210);
}

.sidebar .button:active {
    border: 2px solid rgb(26, 87, 210);
}

.block {
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 4px 6px 17px 4px rgba(62, 77, 89, 0.34);
}

.button .icon {
    width: 34px;
}

.block h1 {
    font-size: 30px;
    color: #707070;
}

h2 {
    font-size: 22px;
    color: #707070;
}

.folders {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 7px;
    margin-right: -10px;
}

.folder {
    border: 1px solid gray;
    margin: 10px 0px;
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #565656bf;
    font-weight: 500;
}

.selected {
    color: white;
    background-color: rgb(81 139 255);
}

.top {
    display: flex;
    margin-top: 25px;
}

.content {
    margin-top: 40px;
    overflow-y: auto;
    max-height: 370px;
    padding-top: 10px;
}

.files {
    color: #707070;
    font-size: 20px;
    border-radius: 10px;
    height: 480px;
    margin-bottom: 15px;
}

.file {
    display: flex;
    margin-bottom: 35px;
    position: relative;
}

.file:last-child {
    margin-bottom: 0;
}

.img-file {
    width: 45px;
    height: 45px;
    margin-top: -10px;
    float: right;
}

.info {
    color: rgb(96, 96, 96);
}

.description {
    margin-top: 15px;
    font-size: 20px;
}

.btn {
    display: block;
    margin: 0 auto;
    appearance: none;
    outline: 0;
    background-color: #6abb74;
    border: 0;
    padding: 10px 12px;
    color: white;
    border-radius: 7px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.btn:hover {
    background-color: #4a8851;
}

.btn-download {
    position: absolute;
    width: 120px;
    height: 36px;
    right: 220px;
    font-size: 14px;
    top: -7px;
}

.btn-delete {
    position: absolute;
    width: 120px;
    height: 36px;
    right: 60px;
    font-size: 14px;
    top: -7px;
    background-color: #ea6464;
}

.btn-delete:hover {
    background-color: #b75858;
}

.file-download {
    position: absolute;
    top: -24px;
    right: 740px;
}

.btn-upload {
    margin-top: -40px;
}

.btn-upload:disabled {
    background-color: #838383a3;
}