<div class="main">
  <div class="sidebar">
    <div class="folders">
      <h2>Мої папки</h2>
      <div *ngIf="folders?.length else folders_empty">
        <div class="folder" *ngFor="let folder of folders" (click)="selectFolder(folder.id)" [ngClass]="{'selected': selectedFolder == folder.id}">
          <div>{{ folder.name }}</div>
          <div>{{ folder.totalFileSize }}/5GB</div>
        </div>
      </div>
    </div>

    <button class="button" style="display: flex;" (click)="createFolder()">
      <mat-icon class="icon">cloud_upload</mat-icon>
      <div>Створити нову папку</div>
    </button>
  </div>

  <div class="block">
    <h1>Мої файли</h1>

    <div class="info description" *ngIf="!selectedFolder || !folders.length">
      Виберіть зліва папку, в якій хочете переглянути, завантажити, видалити або зберегти файл.
    </div>

    <div class="files" *ngIf="selectedFolder && folders.length">
      <div class="top" *ngIf="!selectedFiles?.length">
        У цій папці поки що немає файлів. Натисніть кнопку "Завантажити", щоб зберегти файл до папки "{{ getSelectedFolderName() }}".
      </div>

      <div class="top" *ngIf="selectedFiles?.length">
        <div style="width: 5%;"></div>
        <div style="width: 60%;">Назва</div>

        <div style="width: 20%;">Дата додавання</div>
        <div style="width: 15%;">Розмір</div>
      </div>

      <div class="content">
        <div class="file">
          <div style="width: 5%;"><img class="img-file" src="../../../../../assets/img/file.png"></div>
          <div style="width: 60%;">file.png</div>

          <div style="width: 20%;">20.12.2022</div>
          <div style="width: 15%;">1MB</div>
        </div>
      </div>
    </div>

    <button class="upload-btn" *ngIf="selectedFolder && folders.length" (click)="onFileUploadClick()">
      Завантажити
    </button>

    <app-file-upload #fileUpload [folderId]="selectedFolder"></app-file-upload>
  </div>
</div>

<ng-template #folders_empty>
  <div class="info">
    У вас ще немає створених папок. Створіть свою першу папку, щоб ви могли безпечно зберігати файли.
  </div>
</ng-template>