<div class="main">
  <div class="block">
    Задача сайту EternalFortress полягає у тому, щоб дати користувачам змогу безпечно завантажувати та зберігати свої
    файли в хмарному сховищі. Завантажені файли діляться на багато малих частин, які потім засекречуються за допомогою
    секретного ключа та зберігаються в AWS сховищі. Таким чином, жодна стороння особа не може отримати доступ до цих
    файлів або розсекретити їх.
  </div>

  <div class="block">
    Сайт EternalFortress забезпечує максимальний рівень захисту та безпеки для ваших файлів, забезпечуючи повну
    конфіденційність та захист від потенційних кібератак. Користувачі можуть спокійно завантажувати файли та ділитися
    ними з іншими, знаючи, що їх файли захищені та зашифровані, і доступ до них можливий тільки з використанням
    правильного секретного ключа.
  </div>

  <div class="block">
    Завдяки AWS сховищу, файли, збережені на EternalFortress, захищені від втрати чи пошкодження, оскільки вони
    зберігаються на надійних серверах з резервними копіями. Безпека користувача та його файлів є найвищим пріоритетом
    для EternalFortress, тому вся інформація, що передається через сайт, захищена шифруванням та передається по
    безпечному каналу зв'язку.
  </div>

  <div class="block">
    Якщо вам потрібно зберігати свої файли у безпечному та захищеному середовищі, EternalFortress є найкращим вибором.
    Завантажуйте, зберігайте та діліться своїми файлами з безпекою та конфіденційністю, які можуть бути надані тільки
    сервісом EternalFortress.
  </div>

  <img class="logo" src="../../../../../assets/img/fortress.svg" alt="">

  <button class="button" (click)="register()">Розпочати</button>
</div>